version: 2

jobs:
  "golang-1.14":
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - run: 'wget https://github.com/DataDog/zstd/files/2246767/mr.zip'
      - run: 'unzip mr.zip'
      - run: 'go build'
      - run: 'PAYLOAD=`pwd`/mr go test -v'
      - run: 'PAYLOAD=`pwd`/mr go test -bench .'
  "golang-1.15":
    docker:
      - image: circleci/golang:1.15
    steps:
      - checkout
      - run: 'wget https://github.com/DataDog/zstd/files/2246767/mr.zip'
      - run: 'unzip mr.zip'
      - run: 'go build'
      - run: 'PAYLOAD=`pwd`/mr go test -v'
      - run: 'PAYLOAD=`pwd`/mr go test -bench .'
  "golang-latest":
    docker:
      - image: circleci/golang:latest
    steps:
      - checkout
      - run: 'wget https://github.com/DataDog/zstd/files/2246767/mr.zip'
      - run: 'unzip mr.zip'
      - run: 'go build'
      - run: 'PAYLOAD=`pwd`/mr go test -v'
      - run: 'PAYLOAD=`pwd`/mr go test -bench .'
  "golang-i386":
    docker:
      - image: 32bit/ubuntu:16.04
    steps:
      - checkout
      - run: 'linux32 --32bit i386 ./travis_test_32.sh'

workflows:
  version: 2
  build:
    jobs:
      - "golang-1.14"
      - "golang-1.15"
      - "golang-latest"
      - "golang-i386"
